@import "../variables";

.awesomplete {
  display: flex;
  flex-grow: 100;

  // Das kann man nochmal ändern, aber vielleicht lassen wir das halt auch einfach auf Default.
  // & > ul > li[aria-selected="true"] {
  //     background: rgb(122, 195, 255);
  // }

  mark {
    padding-right: 0;
  }

  ul {
    margin-top: calc(1.5em + 0.75rem + 10px);
  }
}

#last-stations {
  padding: 0 0 1.25rem;

  .list-group-item.list-group-item-action {
    &:first-child:not(:last-child) {
      border-bottom: 0;
    }

    &.title {
      background: rgba(0, 0, 0, 0.03);
      color: $black;
    }

    &:hover:not(:first-child) {
      background: $blue;
      color: $white;
      transition: all 200ms ease-in;
    }
  }
}

.location-value-state {
    display: flex;
    justify-content: center;
    width: 2.5em;
}
.location-value-state > * {
    position: absolute;
    width: 1em;
}
.location-value-state--set {
    visibility: hidden;
}
.location-value-source:not([value=""]) + .location-value-state > .location-value-state--empty {
    visibility: hidden;
}
.location-value-source:not([value=""]) + .location-value-state > .location-value-state--set {
    visibility: visible;
}
